typer
numpy
pillow
pywin32
requests-toolbelt
requests
dearpygui
pypresence
pystyle
pyyaml
psutil
pyserial
keyboard
pyfiglet
pynput
pyperclip
bettercam
colorama
pyautogui
urllib3
customtkinter
CTkToolTip
CTkColorPicker
opencv-python
pyscreeze
deep_translator
termcolor
mss
pycryptodome
torch-2.2.2+cu118-cp312-cp312-win_amd64.whl
torchaudio-2.2.2+cu118-cp312-cp312-win_amd64.whl
torchvision-0.17.2+cu118-cp312-cp312-win_amd64.whl
ultralytics
onnx
onnxruntime
onnxruntime-gpu
onnxruntime-rocm
inference-sdk

